fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
cryptography
fastapi-mail
pdfplumber
pgvector
google-genai>=1.0